
* {
  border: 1px solid red
}

body {
  background-color: teal;
}

.container-fluid {
  padding: 7%, 15%;
}

/* Nav Bar */
.navbar { margin-bottom: 5%; }

.site_stile {
  background-color: teal;
  color: white;
}

/* Introduction */
#intro{
  padding-top: 4.5rem;
}

.intro_head {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}

.intro_body {
  font-size: 16px;
  line-height: 1.7;
}

/* Goals */
.goal_layout {
  margin-left: 2.5%;
}

.goal{
  padding-left: 2%;
}

/* Footer */

.icon-style {
size: 500px;
}


/* Cards */
.card {
  margin: auto;
  color: grey;
}

.card_lower_body {
  display: none;
}

/* Skills */
#skills{
  padding-top: 4rem;
}
