
/* * {
  border: 1px solid red
} */

body {
  background-color: #222831;
}

.site_stile {
  background-color: #222831;
  color: #eeeeee;
}

/* ///////////////////////////////// */
/* Introduction */
#intro{
  padding-top: 2%;
}

.intro-head {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  font-family: 'Permanent Marker', cursive;
  color: #00adb5;
}

.intro-body {
  font-size: 18px;
  line-height: 1.5;
  color: #eeeeee;
  font-weight: 600;
  padding-left: 5%;
}

/* /////////////////////////////////// */
/* Goals */
.goals {
  font-family: 'Permanent Marker', cursive;
  color: #00adb5;  
}

.goal_layout {
  padding-left: 10%;
  color: #eeeeee;
  font-size: 18px;
  font-weight: 600;
}

/* //////////////////////////////////////// */
/* Footer */
.icon-style {
  size: 50px;
}

a:active .url-links {
  color: #eeeeee;
}

/* /////////////////////////////////////// */
/* Cards */
.card-stile {
  color: #eeeeee!important;
  background-color: #495464!important; 
}

.card_lower_body {
  display: none;
}

/* //////////////////////////////////////// */
/* Skills */
#skills{
  padding-top: 2%;
}

.skills-head {
  font-family: 'Permanent Marker', cursive;
  color: #00adb5;  
}

/* //////////////////////////////////////// */
/* Projects */
.project-head {
  font-family: 'Permanent Marker', cursive;
  color: #00adb5;  
}
